<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> welcome home puppymaaaa!!!!</h1>
    <p>
        that i am gonna look up into django project for my experience and <span>rules is i am gonna finish it by next 5 days</span>
        <a href="{% url 'signup'%}">signup</a>
        <a href="{% url 'login'%}">login here </a>
    </p>
    {% if request.user.is_authenticated%}
        <h1>i in </h1>
        <a href="{% url 'settings'%}"> settings</a>
        <a href="{%url 'logout'%}">logout</a>
    {% endif%}
</body>
</html>