<section id="sidebar"> 
    <div class="white-label">
    </div> 
    <div id="sidebar-nav">   
      <ul>
        <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{% url 'showeducation' %}"><i class="fa fa-desktop"></i>Education</a></li>
        <li><a href="#"><i class="fa fa-usd"></i> Ecommerce</a></li>
        <li><a href="#"><i class="fa fa-pencil-square-o"></i> My Blog</a></li>
        <li><a href="#"><i class="fa fa-sitemap"></i> SEO Tools</a></li>
        <li><a href="#"><i class="fa fa-line-chart"></i> Reporting</a></li>
        <li><a href="#"><i class="fa fa-comments-o"></i>Social Marketing</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> Get Traffic</a></li>     
        <li><a href="#"><i class="fa fa-users"></i> Employees</a></li>
        <li><a href="#"><i class="fa fa-calendar-o"></i> Reservations</a></li>
        <li><a href="#"><i class="fa fa-calendar"></i> Calendar</a></li>
      </ul>
    </div>
  </section>