{% extends 'dashboard/main.html' %}
{% block content %}
  <style>
      .gap {
         margin-bottom: 20px;
      }
      .education {
         margin-left: 40%;
      }
  </style>
   <div class="education">
       <form method="post" action="">
         {% csrf_token %}
           <div class="gap">
               <label for="">Institute:</label>
               {{ form.institute }}
           </div>
           <div class="gap">
               <label for="">Degree:</label>
               {{ form.degree }}
           </div>
           <div class="gap">
              <label for="">Field Of Study</label>
               {{ form.field_of_study }}
           </div>
           <div class="gap">
            <label for="">Percentage</label>
            {{ form.percentage }}
         </div>
           <div class="gap">
               <label for="">Start Date</label>
               {{ form.start_date }}
           </div>
           <div class="gap">
              <label for="">End Date</label>
              {{ form.end_date }}
           </div>
           <button type="submit">
              {% if update %}
                  Edit
              {% else %}
                  Submit
              {% endif %}
           </button>
       </form>
       {% if update %}
           <form method="post" action="{% url 'deleteedu' pk=id %}" style="display:inline;">
               {% csrf_token %}
               <button type="submit">Delete</button>
           </form>
       {% endif %}
   </div>
{% endblock content %}
