{% extends 'dashboard/main.html' %}
{% block content %}
  <style>
      .gap {
         margin-bottom: 20px;
      }
      .education {
         margin-left: 40%;
      }
  </style>
   <div class="education">
       <form method="post" action="">
         {% csrf_token %}
           <div class="gap">
               <label for="">Company Name:</label>
               {{ form.company_name }}
           </div>
           <div class="gap">
               <label for="">Position:</label>
               {{ form.position }}
           </div>
           <div class="gap">
              <label for="">Description</label>
               {{ form.description }}
           </div>
           <div class="gap">
               <label for="">Start Date</label>
               {{ form.start_date }}
           </div>
           <div class="gap">
              <label for="">End Date</label>
              {{ form.end_date }}
           </div>
           <div class="gap">
            <label for="">Is current:</label>
            {{form.is_current}}
        </div>
           <button type="submit">
              {% if update %}
                  Edit
              {% else %}
                  Submit
              {% endif %}
           </button>
       </form>
       {% if update %}
           <form method="post" action="{% url 'delete-intern' id %}" style="display:inline;">
               {% csrf_token %}
               <button type="submit">Delete</button>
           </form>
       {% endif %}
   </div>
{% endblock content %}
